<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Profile</title>
</head>
<body>
    <!--    Header  -->
    <nav class="navbar navbar-dark bg-dark">
                <span class="navbar-brand mb-0 h1" id="current_authorised_user-data">

                </span>
        <ul class="navbar-nav px-4">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <!--  end Header  -->
    <div class="container-fluid">
        <div class="row mt-3">

            <div class=" col-12 ml-2 nav" role="tablist" id="vertical_navigation" aria-orientation="vertical">
                <!--    Left Menu   -->
                <div class="col-2 nav flex-column nav-pills">
                    <a class="nav-link active" id="vertical_navigation-user" data-toggle="tab" href="#user_panel" role="tab"
                       aria-controls="user-panel" aria-selected="true"
                       sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')">User</a>
                </div>
                <!--    end Left Menu   -->

                <!--    User Info   -->
                <div class="col-10">
                    <div class="card">
                        <h5 class="card-header">User information-page</h5>
                        <div class="card-body">
                            <p><strong>About user</strong></p>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>

                                <tbody id="current_user_panel-data">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--    end User Info   -->
            </div>

        </div>
    </div>

    <!--  Bootstrap JS  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="user-page.js"></script>

</body>
</html>